.Passmain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passnext{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
}
.emailcontent{
    height: 50%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.262);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}
.box{
    width: 70%;
}
.creatcontent{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.256);
    align-items: center;
}
div .email{
    width:100%;
}
.resetbtn{
    background-color:#a52a2a;
    text-align: center;
}
#resetbtn{
    width:100%;
    color: #fff;
    
}
.creatbtn{
    width: 30vw;
    text-align: center;
}
#creatbtn{
    width: 70%;
    font-weight:bolder;
    color: #000000;
}
.data{
    font-weight: lighter;
}
