.cardmain{
    display: flex;
    /* background-color: yellow; */
    padding: 1%;
    width: 15%;
    margin-top: 5%;
    /* border: 1px solid red; */
}
.card{
    width: 100%;
}
.mainbookdiv{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.bookdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdede;
    padding-right: 10%;
}
.booklogo{
    border-radius: 0%;
    padding: 5%;
}
.content{
    display: flex;
    flex-direction: column;
}
.heading{
    font-weight:bold;
}
.scndhd{
    font-weight: lighter;
}
.price{
    display: flex;
}
.ratingdiv{
    display: flex;
}
.rating{
    background-color: green;
    width: 25%;
    color: #fff;
    text-align: center;
}
.ratenum{
    font-weight: lighter;
    padding-left: 6%;
}
.offer{
    font-weight: bolder;
}
.original{
    font-weight: lighter;
    padding-left: 6%;
}