.cardtwomain{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.homemycart{
    width: 50%;
    display: flex;
    padding: 1%;
    align-items: flex-start;
}
.location{
    border: 1px solid #000000;
    width: 30%;
    height: 5vh;
}
.cardtwo{
    width: 51%;
    border: 1px solid hsla(0, 0%, 0%, 0.38);
    border-radius: 2px;
    padding: 2%;
}
.carttwofirst{
    font-size: large;
    font-weight:500;
    display: flex;
    justify-content: space-between;
}
.carttwosecond{
    display: flex;
    column-gap: 4vh;
   
}
.cardtwocontent{
    display: flex;
    flex-direction: column;
    padding: 2%;
   

}
.cardtwoheading{
    font-size: large;
    font-weight: 600;
}
.cartbookquantity{
    width: 8vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#carttwologo{
    border-radius: 0%;
    width: 70%;
}
.carttwothird{
    display: flex;
    justify-content: flex-end;
}
div .placeorder{
    color: #ffffff;
    background-color:#0000ff8a;
    border-radius: 3px;
}
.cardtwoscndhd{
    font-weight: lighter;
}
.cardtwoprice{
    display: flex;
}
.cardtworatenum{
    margin-top: 1%;
    font-weight: lighter;
    padding-left: 2%;
}
.cardtwooffer{
    margin-top: 1%;
    font-weight: bolder;
}
.cardtwooriginal{
    margin-top: 1%;
    font-weight: lighter;
    padding-left: 2%;
}
.imgtwo{
    width: 20%;
    padding: 2%;
}
#input{
    width: 10%;
}
.carttwoaddress{
    width: 53%;
    padding: 1%;
    font-size: large;
    font-weight: 600;
    margin-top: 1%;
    border: 1px solid #00000079;
}
.carttwosummary{
    width: 53%;
    padding: 1%;
    font-size: large;
    font-weight: 600;
    margin-top: 1%;
    border: 1px solid #00000079;
}